h1{
	color: #db4e35;
}
h2{
	color: #2869d1;
}
body{
	background-color: #89aacc;
}
img:hover{
	border-radius: 100px;
}
ul li{
	float: left;
	text-align: center;

ul li a{
	text-decoration: none;
	display: block;
	width: 100px;
	padding: 14px 15px;
	color: #86b5bd;
}
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #566 ;
}
ul{
    list-style-type :none;
    overflow: hidden;

.fancyImage:hover{
	opacity: 0.8;
}
li{
	display: block;
	float: left;
	width: 50px;
	padding: 10px 15px;
}