body{
	background-color: #abcff5;
	
}
img:hover{
	border-radius: 100px;
}
ul li{
	float: left;
	text-align: center;

ul li a{
	text-decoration: none;
	display: block;
	width: 100px;
	padding: 14px 15px;
	color: #86b5bd;
}
}
ul li a:hover{
	background-color: #5fad9a;
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #566 ;
}
ul{
    list-style-type :none;
    overflow: hidden;

li{
	display: block;
	float: left;
	width: 50px;
	padding: 10px 15px;
}