
h1{
	color:#3e3c1f;
	font-size: 84pt;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' #c64d39,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #c64d39;

}
body{
	background-image: url(imagen.png); width: 100%;
}
